[Desktop Entry]
Type=Application
Name=Secret Storage Service
Name[zh_CN]=保密存储服务
Comment=GNOME Keyring: Secret Service
Comment[zh_CN]=GNOME 密钥环：保密服务
Exec=/usr/bin/gnome-keyring-daemon --start --components=secrets
OnlyShowIn=GNOME;Unity;MATE;
X-GNOME-Autostart-Phase=PreDisplayServer
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-keyring
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.20.0
