[Desktop Entry]
Type=Application
Name=SSH Key Agent
Name[zh_CN]=SSH 密钥代理
Comment=GNOME Keyring: SSH Agent
Comment[zh_CN]=GNOME 密钥环：SSH 代理
Exec=/usr/bin/gnome-keyring-daemon --start --components=ssh
OnlyShowIn=GNOME;Unity;MATE;
X-GNOME-Autostart-Phase=PreDisplayServer
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-keyring
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.20.0
