[submodule "emacs.d"]
    path = emacs.d
    url = https://github.com/liyunteng/emacs
    branch = develop
[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = https://github.com/ohmyzsh/ohmyzsh.git
    ignore = untracked
[submodule "vim_runtime"]
    path = vim_runtime
    url = https://github.com/liyunteng/vim
    branch = master
