app-editors/vim cscope lua perl ruby tcl vim-pager
# required by gnome-extra/gnome-user-share-3.14.2::gentoo
# required by gnome-base/gnome-extra-apps-3.14.0-r1::gentoo
# required by gnome-base/gnome-3.14.0::gentoo[extras]
# required by @selected
# required by @world (argument)
>=www-servers/apache-2.4.12-r1 apache2_mpms_prefork
